:root {
    --font-body: Rasa, sans-serif;
    --font-headline: Literata, sans-serif;
    /* colors */
    --primary-color: #598392;
    --secondary-color: #3f612d;
    --tertiary-color: #dfe2df;
    --primary-accent-color: #a3333d;
    --secondary-accent-color: #f0a202;
    --dark-gray: #222121;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}
* {
    text-align: center;
}
body {
    position: relative;
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
    background-color: var(--tertiary-color);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.inst {
    position: relative;
    margin-top: 2em;
    color: #a3333d;
}
.inst2 {
    position: relative;
    color: #a3333d;
    margin-top: -0.8em;
}
.logo {
    line-height: 60px;
    width: 245px;
    overflow: hidden;
    display: flex;
    font-size: 30px;
    text-align: right;
    font-family: var(--font-headline);
}
.logo a {
    text-decoration: none;
    color: var(--font-body);
}
.hero {
    position: relative;
}
strong#accent {
    color: #598392;
}
.spacer {
    display: inline-block;
    width: 2em;
    height: 12em;
}
#formSearch {
    width: fit-content;
    display: inline-block;
}
#formSearch input#q[type='text'] {
    padding: 6px;
    margin: 8px;
    border: solid #a3333d;
    border-radius: 10px;
    font-size: 17px;
    margin: 3em 0 4em 0;
    position: relative;
    width: 16em;
}
#formSearch input#q[type='text']:hover {
    box-shadow: 5em #f0a202;
}
#formSearch input#q[type='text']:focus {
    border: 3px solid #3f612d;
    box-shadow: 10px black;
    text-align: left;
    width: 8em;
}
#formSearch input#q[type='text']::placeholder {
    text-align: center;
}
#formSearch input#q[type='text']:focus::placeholder {
    color: transparent;
}
.highlight {
    color: var(--primary-accent-color);
}
.divider {
    border-bottom: 2px solid var(--primary-color);
}
#main-footer {
    display: block;
    position: relative;
    bottom: 0;
}
#loading {
    display: none;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #a3333d;
    border-radius: 100%;
    margin: 5em;
    animation: spin 1s infinite linear;
}
#loading-alert {
    display: none;
    color: #3f612d;
}
#loading.display,
#loading-alert.display {
    display: block;
    margin: 0 auto 1em auto;
}
h3.alert {
    margin-top: -2.5em;
    text-align: center;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
